@import url('https://use.typekit.net/htv0whb.css');

@font-face {
    font-family: 'Inter';
    src: url('~/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.btn-nav {
    @apply ml-2 p-2 hover:bg-gray-200 dark:hover:bg-gray-700 rounded-full text-gray-400 hover:text-gray-500 dark:hover:text-gray-300 focus:outline-none
}