@import url('https://use.typekit.net/htv0whb.css');

@font-face {
    font-family: 'Inter';
    src: url('~/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    @apply text-body bg-backdrop;
}

html.dark {
    @apply text-body-dark bg-backdrop-dark;
}

h1,
.h1 {
    @apply text-xl;
}

h2,
.h2 {
    @apply text-lg;
}

h3,
.h3 {
    @apply text-base font-semibold;
}

select {
    @apply pr-8 appearance-none bg-[url('assets/imgs/dropdown-light.png')] dark:bg-[url('assets/imgs/dropdown-dark.png')] bg-no-repeat bg-[center_right_14px] bg-[length:16px_16px];
}